<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h2>Finalizar Compra</h2>

<div class="row">
  <div class="col-75">
    <div class="container">

      <!--FORM ENDEREÇO-->
      <div class="row" [formGroup]="formEndereco">
        <div class="col-25">
          <h3>Endereço de entrega</h3>
          <label><i class="fa fa-address-card-o"></i> Logradouro</label>
          <input type="text" formControlName="logradouro" readonly>

          <label> Número</label>
          <input type="text" formControlName="numero" readonly>

          <label><i class="fa fa-institution"></i> Cidade</label>
          <input type="text" formControlName="cidade" readonly>

          <div class="row">
            <div class="col-50">
              <label> Estado</label>
              <input type="text" formControlName="estado" readonly>
            </div>

            <div class="col-50">
              <label for="zip"> CEP</label>
              <input type="text" formControlName="cep" readonly>
            </div>
          </div>
        </div>
      </div>
      <input type="submit" value="Alterar Endereço" [routerLink]="['../../endereco']" class="btn btn-danger">
    </div>
  </div>

  <!--CARD DO CARRINHO-->
  <div class="col-15">
    <div class="container">
      <h4>Produtos<span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b> {{quant}}</b></span>
      </h4>
      <p *ngFor="let prod of carrinho"><a>{{prod?.produto.nome}} - x{{prod?.quantidade}}</a> <span
          class="price">{{prod?.quantidade * prod?.produto.preco | currency }}</span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b>R{{valorTotal | currency}}</b></span></p>
    </div>

    <!--FORM OPÇÂO DE PAGAMENTO-->
    <form [formGroup]="formPagamento" (submit)="onSubmit()">
      <div class="col-15 mt-5">
        <div class="container">
          <h3>Pagamento</h3>
          <div class="icon-container">
            <i class="fa fa-cc-visa" style="color:navy;">ﾠ</i>
            <i class="fa fa-cc-amex" style="color:blue;">ﾠ</i>
            <i class="fa fa-cc-mastercard" style="color:red;">ﾠ</i>
            <i class="fa fa-cc-discover" style="color:orange;">ﾠ</i>
          </div>
          <div>
            <label>Métodos de pagamento</label>
            <div>
              <select formControlName="metodo" class="form-control form-control-lg" (change)="formaPag()">
                <option value="" selected="selected">Selecione uma opção...</option>
                <option value="boleto">Boleto </option>
                <option value="cartao">Cartão de crédito </option>
              </select>
            </div>
          </div>
          <div *ngIf="isCartao" class="mt-2">
            <label>Parcelamento</label>
            <div>
              <select formControlName="parcela"  [ngModel]="valParcelas" class="form-control form-control-lg">
                <option value="1" >1x de {{valorTotal|currency:'BRL'}}</option>
                <option value="2">2x de {{valorTotal/2|currency:'BRL'}}</option>
                <option value="3">3x de {{valorTotal/3|currency:'BRL'}} </option>
              </select>
            </div>
          </div>
          <input type="submit" value="Finalizar" class="btn"  [disabled]="desativarCompra">
        </div>
      </div>
    </form>
  </div>





</div>