<div class="container">
<h2>{{texto}} Usuário</h2>
<form [formGroup]="formUsuarios" (submit)="onSubmit()">
    <div class="form-group" *ngIf="isEdicao">
      <!-- ID do Usuario -->
      <label for="id">ID</label>
      <input type="text" class="form-control" formControlName="id" readonly placeholder="ID do usuário">
    </div>
      <!-- Nome do Usuario -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" formControlName="nome" placeholder="Nome do usuário">
    </div>

    <app-mostrar-erros [isError]="isErrorField('nome')" [mensagem] = "'Nome Obrigatório'">

    </app-mostrar-erros>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Email do usuário">
    </div>

    <app-mostrar-erros [isError]="isErrorField('email')" [mensagem] = "'Email Obrigatório'">
    </app-mostrar-erros>

    <div class="form-group">
      <ng-multiselect-dropdown [placeholder]="'Perfils'" [settings]="dropdownSettings"  [data]="perfis" formControlName="perfis"
       (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">

      </ng-multiselect-dropdown>
    </div>


    <div class="form-group" >
      <label for="senha">Senha</label>
      <input type="text" class="form-control" formControlName="senha" placeholder="Senha do usuário">
    </div>

    <app-mostrar-erros [isError]="isErrorField('senha')" [mensagem] = "'Senha Obrigatória'">
    </app-mostrar-erros>

    <button type="submit" class="btn btn-primary">{{textoBotao}}</button>

  </form>
</div>
